/.bundle/
/.yardoc
/_yardoc/
/config/logging.yml
/coverage/
/doc/
/lib/apis/dependencies/
/lib/plugins/dependencies/
/log/
/pkg/
/spec/reports/
/spec/data/
/test/data/
/test/temp/
/tmp/
*.bundle
*.so
*.o
*.a
mkmf.log
*.*~
*~
*.gem
*.pid
*.log

